
<form action="/auth/signup" method="POST" class="text-center">
    <img class="mb-4" src="/images/pot.png" alt="" width="72" height="auto">
    <h1 class="h3 mb-3 fw-normal">Join Us!</h1>
    <p>Sign Up</p>

<div class="form-signin mb-3 justify-content-center">
   <div  id="signup">
      <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="Username..." name="username">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-md" id="btn" type="submit">Sign up</button>
   </div>

</div>
  {{#if errorMessage}}
    {{errorMessage}}
  {{/if}}

    <p class="mt-5 mb-3 text-muted">© by Amanda Rodrigues & Mohammed Chakmakchi - 2022</p>
</form>


