
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{this.Image_Url}}" class="img-fluid rounded-start" alt="{{this.Title}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{this.Title}}</h5>
      </div>
      <button>Edit</button>
    </div>
  </div>
</div>