<div class="px-1 pt-5 mt-5 my-1 text-center container-fluid " style="margin-top: 30px !important;">
  <div class="col-lg-9 mx-auto w-100">
    <div class="d-grid gap-2 w-auto d-sm-flex justify-content-sm-center mb-0">
      <div class="row">
        <div class="col-md-4">

          <div >
            <img id="image-pill" src="/images/ingredients.png" alt="ingredients" >
          </div>
          <h3>Search ingredients</h3>
          <p>Input the ingredients you have available</p>
        </div>
        <div class="col-md-4">
          <div>
            <img id="image-pill" src="/images/recipe.png" alt="ingredients" >
          </div>
          <h3>Select recipe</h3>
          <p>Choose a recipe that you like from the list</p>
        </div>

        <div class="col-md-4">
          <div>
            <img id="image-pill" src="/images/food.png" alt="ingredients" >
          </div>
          <h3>Cook Whaaat</h3>
          <p>Follow the instructions and enjoy!</p>
        </div>

      </div>
    </div>

      <div class="row g-3 justify-content-center mb-5" >
        <div class="col-sm-6" >
          <div class="input-group mt-5 mb-3">
            <input
              type="text"
              class="form-control"
              id="searchInput"
              placeholder="tomato potato garlic ..."
              value=""
              required=""
              name="searchedString"
            />
            <button
              class="btn btn-outline-secondary"
              type="submit"
              id="search-button"
            >Search</button>
          </div>
          <span id="searchHelp" class="form-text" >Type in a list of ingredients
            separated by spaces
          </span>
        </div>
      </div>
    <div class="row" id="searchResults">

    </div>

  </div>
</div>

<script type="text/javascript">
  $('#search-button').click(function(){
    $.post("recipes/search", $( "#searchInput" ).serialize(), function(data){
      $("#searchResults").html(data);
    })
  })
</script>
