<div class="px-1 pt-1 my-5 text-center border-bottom">
  <div class="col-lg-9 mx-auto">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <div class="row">
        <div class="col-lg-4">
          <svg
            class="bd-placeholder-img rounded-circle"
            width="140"
            height="140"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: 140x140"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          ><title>Placeholder</title><rect
              width="100%"
              height="100%"
              fill="#777"
            ></rect><text
              x="50%"
              y="50%"
              fill="#777"
              dy=".3em"
            >140x140</text></svg>
          <h3>Search ingredients</h3>
          <p>Input the ingredients you have available</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg
            class="bd-placeholder-img rounded-circle"
            width="140"
            height="140"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: 140x140"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          ><title>Placeholder</title><rect
              width="100%"
              height="100%"
              fill="#777"
            ></rect><text
              x="50%"
              y="50%"
              fill="#777"
              dy=".3em"
            >140x140</text></svg>
          <h3>Select recipe</h3>
          <p>Choose a recipe that you like from the list</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <svg
            class="bd-placeholder-img rounded-circle"
            width="140"
            height="140"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: 140x140"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          ><title>Placeholder</title><rect
              width="100%"
              height="100%"
              fill="#777"
            ></rect><text
              x="50%"
              y="50%"
              fill="#777"
              dy=".3em"
            >140x140</text></svg>
          <h3>Follow recipe</h3>
          <p>Follow the instructions and enjoy!</p>
        </div><!-- /.col-lg-4 -->
      </div>
    </div>
    <form action="/recipe-search" method="GET">
      <div class="row g-3 justify-content-sm-center">
        <div class="col-sm-6">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              id="searchInput"
              placeholder="tomato potato garlic ..."
              value=""
              required=""
            />
            <button
              class="btn btn-outline-secondary"
              type="submit"
              id="button-addon1"
            >Search</button>
          </div>
          <span id="searchHelp" class="form-text">Type in a list of ingredients
            separated by spaces
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <h2>All Recipes</h2>
      <input type="search" placeholder="input ingredients" />
      {{#each recipes}}
        <div>
          <h4>{{Title}}</h4>
        </div>
      {{/each}}
    </div>
  </div>
</div>