@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import "bootstrap";

:root {
  --beige: #fdf6de;
  --light-brown: #7c5421;
  --white: #ffffff;
  --black: #181818;
  --light-pink: #eadadd;
  --dark-brown: #451019;
  --light-grey: #e5e5e5;
  --orange: #c78411;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../images/background.png");
  background-size: cover;
}

a {
  text-decoration: none;
}

.apple {
  font-family: "Homemade Apple", cursive, Verdana;
}

.recipe-image {
  filter: drop-shadow(10px 20px 30px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  opacity: 0.9;
}

#logo {
  width: 40%;
}

#nav-link {
  color: var(--black);
  text-decoration: none;
  padding: 24px;
}

#nav-link:hover {
  color: var(--orange);
}

#image-pill {
  width: 80%;
  height: 250px;
  border-radius: 50px;
  object-fit: cover;
  margin-bottom: 20px;
}

#signup {
  margin: 0 25%;
}

.create-recipe {
  text-align: left;
  margin-left: 10%;
}

@media only screen and (min-width: 768px) {
  #signup {
    margin: 0 40%;
  }
  .create-recipe {
    margin-left: 20%;
  }
}

#btn {
  background-color: #c78411;
  color: var(--beige);
}

#btn:hover {
  background-color: #8b5d0c;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.card-body {
  padding-left: 0;
}

.someInput {
  flex: 0 1 100px;
}

.hidden {
  display: none;
}

.favoriteIconToggled {
  color: yellow;
}

.center-text{
  margin: 2% 35%;
}