
  {{#if userInSession}}
  <div class="px-5">
    <h2 >{{ userInSession.username }}'s Cookbook</h2>
    <p class="mb-4">All your recipes in one place!</p>
  </div>

{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}

<nav class="px-5">
  <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
    <button
      class="nav-link active"
      id="nav-home-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-home"
      type="button"
      role="tab"
      aria-controls="nav-home"
      aria-selected="true"
      style="color: var(--white); background-color: #E3C797 !important;"
    >All Recipes</button>
    <button
      class="nav-link"
      id="nav-profile-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-profile"
      type="button"
      role="tab"
      aria-controls="nav-profile"
      aria-selected="false"
      style="color: var(--white) !important; background-color: #C2B097 !important;"
    >My Favorites</button>
    <button
      class="nav-link"
      id="nav-contact-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-contact"
      type="button"
      role="tab"
      aria-controls="nav-contact"
      aria-selected="false"
      style="color: var(--white) !important; background-color: #C4BA9B !important;"
    >My Recipes</button>
    <button
      class="nav-link"
      id="nav-create-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-create"
      type="button"
      role="tab"
      aria-controls="nav-create"
      aria-selected="false"
      style="color: var(--white) !important; background-color: #B49E9C !important;"
      href=""
    > + Create Recipe</button>
  </div>
</nav>

<div class="tab-content p-5" id="nav-tabContent">
  <div
    class="tab-pane fade show active"
    id="nav-home"
    role="tabpanel"
    aria-labelledby="nav-home-tab"
    style="margin: 0 5% !important; padding: 2% 24px !important;"
  >
    <div class="container">
      <div class="row">
        <h4 class="center-text">All My Recipes</h4>
        {{#each recipes}}
          {{> recipeCard this}}
        {{/each}}
      </div>
    </div>
  </div>

  <div
    class="tab-pane fade"
    id="nav-profile"
    role="tabpanel"
    aria-labelledby="nav-profile-tab">
      <div class="container">
        <div class="row">
          <h4 class="center-text">My Favorites</h4>
          {{#each recipes}}
            {{#ifContains ../userInSession.favoriteRecipes this._id }}
              {{> recipeCard this}}
            {{/ifContains}}
          {{/each}}
        </div>
      </div>
  </div>

  <div
    class="tab-pane fade"
    id="nav-contact"
    role="tabpanel"
    aria-labelledby="nav-contact-tab"
  >
    <div class="container">
      <div class="row">
        <h4 class="center-text">My Recipes</h4>
        {{#each recipes}}
          {{#ifEqual this.creator ../userInSession._id }}
            {{> recipeCard this}}
          {{/ifEqual}}
        {{/each}}
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="nav-create"
    role="tabpanel"
    aria-labelledby="nav-create-tab"
  >

    <div class="container">
      <div class="row">
        {{> createRecipe this}}
      </div>
    </div>
  </div>
</div>

{{! script to change add to favorites icon button  }}
<script type="text/javascript">
  $('.material-icons').click(function(){
    $('#'+this.id).addClass("favoriteIconToggled");
  })
</script>
